<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h5 class="display-5 mt-3">Latest News</h5>
    </div>
  </div>
  <div class="container pt-5">
    <div class="row">
      <div *ngFor="let d of newsDisplay" class="col-lg-2 m-2">
        <img src="{{ d.urlToImage }}" alt="Image can't reload" width="100%" />
        <h5>{{ d.title }}</h5>
        <p>{{ d.description }}</p>
        <a href="{{ d.url }}">
          <button type="button" class="btn btn-secondary">Read More</button></a
        >
      </div>
    </div>
  </div>
</main>

<footer
  class="text-center text-white footer-fixed-bottom"
  style="background-color: #f1f1f1"
>
  <!-- Grid container -->
  <div class="container pt-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
    class="text-center text-dark p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2021 Copyright:
    <a class="text-dark" href="https://github.com/Mohamed24Awwad"
      >Mohamed Awwad</a
    >
  </div>
  <!-- Copyright -->
</footer>
