<div class="banner">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">GBN</h1>
        <p class="lead text-muted">
          Simple website with an integrated API Helped to sync all the news
          related to our lovely country for the purpose of spreading awwarness
          againt fack news which is generarly spreads at the last 10 years.
        </p>
        <p>
          <a routerLink="/news" class="btn btn-secondary my-2 p-2"
            >Get The News</a
          >
        </p>
      </div>
    </div>
  </section>
</div>
